<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yj.dao.Feeds_reply_commentsMapper" >
  <resultMap id="BaseResultMap" type="com.yj.pojo.Feeds_reply_comments" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="feeds_comment_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="comment" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="set_time" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="likes" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, feeds_comment_id, user_id, comment, set_time, likes
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from feeds_reply_comments
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from feeds_reply_comments
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yj.pojo.Feeds_reply_comments" >
    insert into feeds_reply_comments (id, feeds_comment_id, user_id, 
      comment, set_time, likes
      )
    values (#{id,jdbcType=INTEGER}, #{feedsCommentId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{comment,jdbcType=VARCHAR}, #{setTime,jdbcType=VARCHAR}, #{likes,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yj.pojo.Feeds_reply_comments" >
    insert into feeds_reply_comments
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="feedsCommentId != null" >
        feeds_comment_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="setTime != null" >
        set_time,
      </if>
      <if test="likes != null" >
        likes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="feedsCommentId != null" >
        #{feedsCommentId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="setTime != null" >
        #{setTime,jdbcType=VARCHAR},
      </if>
      <if test="likes != null" >
        #{likes,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yj.pojo.Feeds_reply_comments" >
    update feeds_reply_comments
    <set >
      <if test="feedsCommentId != null" >
        feeds_comment_id = #{feedsCommentId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="setTime != null" >
        set_time = #{setTime,jdbcType=VARCHAR},
      </if>
      <if test="likes != null" >
        likes = #{likes,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yj.pojo.Feeds_reply_comments" >
    update feeds_reply_comments
    set feeds_comment_id = #{feedsCommentId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      comment = #{comment,jdbcType=VARCHAR},
      set_time = #{setTime,jdbcType=VARCHAR},
      likes = #{likes,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>