<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yj.dao.Welfare_serviceMapper" >
  <resultMap id="BaseResultMap" type="com.yj.pojo.Welfare_service" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="pic" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="st" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="et" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, pic, url, st, et
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from welfare_service
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from welfare_service
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yj.pojo.Welfare_service" >
    insert into welfare_service (id, pic, url, 
      st, et)
    values (#{id,jdbcType=INTEGER}, #{pic,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{st,jdbcType=VARCHAR}, #{et,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yj.pojo.Welfare_service" >
    insert into welfare_service
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pic != null" >
        pic,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="st != null" >
        st,
      </if>
      <if test="et != null" >
        et,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="st != null" >
        #{st,jdbcType=VARCHAR},
      </if>
      <if test="et != null" >
        #{et,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yj.pojo.Welfare_service" >
    update welfare_service
    <set >
      <if test="pic != null" >
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="st != null" >
        st = #{st,jdbcType=VARCHAR},
      </if>
      <if test="et != null" >
        et = #{et,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yj.pojo.Welfare_service" >
    update welfare_service
    set pic = #{pic,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      st = #{st,jdbcType=VARCHAR},
      et = #{et,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>